.banner-container {
  width: 80%;
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  min-height: 200px;
}

.user-profile-image {
  box-shadow: 0 3px 15px 0 #0000001a, 0 1px 3px 0 #00000014;
}

.user-name {
  word-break: break-all;
  font-weight: 300;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.button-one {
  margin-right: 5px;
}

.button-two {
  margin-left: 5px;
}