</div>
<footer class="footer">
  <span class="left" style="font-size:10px;">Scar © 2021-2023 | Designed by <a href="https://github.com/IgorKowalczyk">IgorKowalczyk</a>. Modified by <a href="https://github.com/SirRamboia">SirRamboia</a></span> 
</footer>

<script src="/js/index.js"></script>

</body>
</html>
