<%- include("includes/head", { user, path, title: "404!" }) %>
  <div class="content">
    <h1 class="center error-icon">T^T</h1>
    <h1 class="center" style="margin-bottom: 0; font-weight: 500">Error 404!</h1>
    <h3 class="center">This page does not exist.<br>Boop. Beep?</h3>
    <a class="add button center-button blue" href="/">Go back to home!</a>
    <%- include("includes/footer") %>