<%- include("includes/head", { user, path, title: "Scar - Privacy Policy" }) %>
    <% if (user) { %>
        <% const checked="privacy" %>
            <%- include("includes/side_nav_other", { user, path, checked_nav: checked }) %>
                <div class="content" style="padding: 40px 20px 40px;">
                    <% } else { %>
                        <div style="margin: 70px 15px 15px 15px;" class="container-contact">
                            <div class="wrap-contact">
                                <% } %>
                                    <link rel="stylesheet" type="text/css" href="/css/tos.css" />
                                    <div class="tos">
                                        <h1 class="center">Privacy Policy of <b>
                                                Scar
                                            </b>
                                        </h1>
                                        <p class="center"><span style="font-weight: 400;">Last modified:</span> June
                                            21, 2023<br>By using our Services, you agree that you have read and agree to
                                            this policy.<br><br>All bot data is used under the Data Protection Act
                                            (GDPR, GDPR and LGPD)
                                        </p>
                                        <br>
                                        <p>This is our "Privacy Policy" which sets out the policy governing our use of
                                            the information you provide in connection with the website and your use of
                                            Scar (the "bot"). The terms "you" and "your" refer to all individuals or
                                            entities accessing this site or using the bot. The terms "we", and "our",
                                            refer to the teams involved in the Service, and the owner, and, the "bot"
                                            refers to our Discord bot - Scar.<br><br>We may update this Privacy Policy
                                            from time to time. Changes will be effective immediately. We recommend all
                                            users visit this Privacy Policy regularly. By using the website and/or bot,
                                            you agree to the collection, use, and transfer of your information under
                                            this Privacy Policy. If you do not agree to this Privacy Policy, your only
                                            recourse is not to use the site or Scar (the "bot").</p>
                                        <hr>
                                        <h2 class="small_header"><b>Privacy Statement</b></h2>
                                        <p>We respect the privacy of your information. We provide this explanation of
                                            our information practices as a demonstration of our commitment to protecting
                                            your privacy. This policy describes the types of information we may collect
                                            from users or what users may provide when visiting this site, as well as our
                                            practices for collecting, using, maintaining, protecting, and disclosing
                                            that information.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>The information we collect and how we collect it</b>
                                        </h2>
                                        <p><span style="font-weight: 700;">On the Website:</span><br>
                                            &emsp;- Cookies<br>&emsp;- Discord Account Avatar, Username, ID, and
                                            Email<br>&emsp;- Your IP Address<br><br>
                                            <span style="font-weight: 700;">On the bot:</span><br>
                                            &emsp;- Server IDs<br>
                                            &emsp;- Category IDs<br>
                                            &emsp;- Channel IDs<br>
                                            &emsp;- Ranks IDs<br>
                                            &emsp;- Messages IDs<br>
                                            &emsp;- User IDs and Usernames<br>
                                            &emsp;- Specific Message Reactions (draws reaction roles)<br>
                                            &emsp;- Each custom configuration that a user configures for a server<br>
                                            &emsp;- Timestamps/timestamps<br><br>
                                            <span style="font-weight: 700;">Cookies:</span><br>
                                            Our website uses cookies for various purposes, such as keeping you logged in, collecting statistical data, and other necessary functions. Cookies are small text files that are stored on your device when you access our website. We take your privacy seriously and ensure that any data we collect through cookies is kept secure. We do not store any sensitive information about our users.<br /><br />By continuing to use our website, you consent to our use of cookies for these purposes. You can choose to disable cookies in your browser settings, but please note that some features of our website may not function properly without them.<br>
                                        <br><span style="font-weight: 700;">Intents that the bot uses:</span>
                                        <ul>
                                            <li><span style="font-weight: 700;">Server Members Intent</span><br>For the
                                                bot to be able to know general server information, of which, but not
                                                limited to: logs in/out of a server, user information (command of
                                                "/userinfo"), knowledge of the number of users on the server (command of
                                                "/serverinfo") and statistical purposes.</li>
                                            <li><span style="font-weight: 700;">Message Content Intent</span><br>For the
                                                bot to be able to assign certain rewards of levels, ranks, and money,
                                                also for self-moderation systems, such as anti-links; among
                                                others.<br><br>
                                                Please read this policy carefully to understand our practices regarding
                                                your
                                                information and how we treat it. If you do not agree with our policies
                                                and
                                                practices, your only recourse is to not use our Services. By accessing
                                                or
                                                using this site/bot, you agree to this Privacy Policy. This policy may
                                                be
                                                amended from time to time. Your use of our Services is deemed acceptance
                                                of
                                                these terms.
                                            </li>
                                        </ul>
                                        </p><br>
                                        <hr>
                                        <h2 class="small_header"><b>Third-party sites</b></h2>
                                        <p>This site or the bot may contain links to third-party websites. Such linked
                                            sites are not under our control and we are not responsible for the privacy
                                            practices or the content of any linked site or any link contained in any
                                            linked site. We provide such links only as a convenience, and the inclusion
                                            of a link on the site does not imply monitoring of the linked site by us. If
                                            you provide any personal data through any third-party website, your
                                            transaction will occur on the third-party's website (not this website) and
                                            the personal data you provide will be stored and controlled by the privacy
                                            policy of that third-party. We recommend that you familiarize yourself with
                                            the third-party's privacy policies and practices.<br><br>PLEASE NOTE THAT
                                            THIS PRIVACY POLICY IS NOT ABOUT THE PRIVACY PRACTICES OR INFORMATION OF ANY
                                            THIRD-PARTY.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>How we use information</b></h2>
                                        <p>We use the information we collect in the following ways:<br>
                                        <ul>
                                            <li> To provide, operate and maintain our website and Scar (the "bot")</li>
                                            <li> To provide all the functionality that the bot has to offer</li>
                                            <li> Statistical purposes</li>
                                        </ul>
                                        </p><br>
                                        <hr>
                                        <h2 class="small_header"><b>Hosting, services, and internal security</b></h2>
                                        <p>All data is stored on <a href="https://www.mongodb.com/">MongoDB</a>
                                            privately, with end-to-end security, and to access it
                                            requires a password that only the owner has access to and makes sure to
                                            change periodically.<br><br>We host our bot on <a
                                                href="https://render.com/">Render</a> platform.<br><br>The account of
                                            the bot's owner and creator is kept secure, with 2-step
                                            verification enabled, and the bot itself follows the rules and best
                                            practices
                                            for internet security.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Removal of Data</b></h2>
                                        <p>The data removal process takes place in the following ways:<br><br><span
                                                style="font-weight: 700;">Automatically:</span><br>
                                            The reason the data is collected and stored is no longer useful or necessary
                                            (e.g. when a draw comes to an end)<br><br>
                                            <span style="font-weight: 700;">Manually:</span><br>
                                            The user can delete their data at any time and for any reason by opening a
                                            ticket on the <a href="/contact">contact page</a>, stating their User ID and
                                            the type of data they wish to be deleted. After that, a specialized agent
                                            will contact you and will delete your data without any problems or
                                            contradictions.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Children and Parental Control</b></h2>
                                        <p>One of our priorities is to add protection for children while using the
                                            internet. We encourage parents and guardians to observe, participate and/or
                                            monitor and guide their online activities.<br><br>Scar (the "bot") does not
                                            knowingly collect any personally identifiable
                                            information from children under the age of 13. If you believe that your
                                            child has provided such information on any of the Services, we recommend
                                            that you contact us immediately, and we will make our best efforts to
                                            permanently and immediately remove such information from our records; by the
                                            <a href="/contact">contact page</a> explaining the
                                            situation.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Final Acknowledgement</b></h2>
                                        <p>Use of our Services confirms that you (the Licensee) have read these Terms of
                                            Use ("Terms"), understand them, and agree to be bound by its contents freely
                                            and in full.
                                        </p>
                                    </div>
                                    <%- include("includes/footer") %>
