<%- include("./includes/head", { user, path, title: "Scar - Terms of Service" }) %>
    <% if (user) { %>
        <% const checked="terms" %>
            <%- include("includes/side_nav_other", { user, path, checked_nav: checked }) %>
                <div class="content" style="padding: 40px 20px 40px;">
                    <% } else { %>
                        <div style="margin: 70px 15px 15px 15px;" class="container-contact">
                            <div class="wrap-contact">
                                <% } %>
                                    <link rel="stylesheet" type="text/css" href="/css/tos.css" />
                                    <div class="tos">
                                        <h1 class="center">Terms and Conditions of <b>
                                                Scar
                                            </b>
                                        </h1>
                                        <p class="center"><span style="font-weight: 400;">Last modified:</span> July 30,
                                            2022<br>By using our Services, you agree that you have read and agree to
                                            this policy.
                                        </p>
                                        <h2 class="small_header"><b>Introduction</b></h2>
                                        <p>These Terms of Service, found at <a
                                                href="scarbot.com/terms">scarbot.com/terms</a> ("Terms of
                                            Service & Use"), which include and, hereby, incorporate the Privacy
                                            Policy at <a href="scarbot.com/privacy">scarbot.com/privacy</a>
                                            ("Privacy Policy"), are a legal
                                            contract between the Service (the "Owner", the surrounding teams, the
                                            "Company", "we", "our" and
                                            "us") and you.<br><br>By using or accessing Scar (the "Bot"), the
                                            support server (the "Server"), or
                                            the website found at https://scarbot.com (the "Site"), together referred
                                            to as the "Service", you
                                            hereby confirm that:<br><span style="font-weight: 700;">(i)</span> that
                                            you are at least 13 years of
                                            age;<br><span style="font-weight: 700;">(ii)</span> if you have reached
                                            the age of majority under
                                            the laws of your place of residence, you have read, understood, and
                                            agreed to the Terms and, if you
                                            are a minor, your parent or legal guardian has read, understood, and
                                            agreed to the Terms;<br><span style="font-weight: 700;">(iii)</span> by
                                            using our Services, you agree to fully comply with
                                            these terms.<br><br>The Owner reserves the right to update these Terms,
                                            which may occur for reasons
                                            including, but not limited to, compliance with any legislative changes
                                            or to reflect improvements
                                            made to Scar (the "bot"). If such change affects your use of one of our
                                            services or affects one of
                                            your rights, we will inform users of this at least seven days before the
                                            change comes into effect.
                                            Unless otherwise stipulated, your continued use of the Service following
                                            the posting of the changes
                                            will constitute your acceptance of such changes. If you object to the
                                            changes, your remedy is to
                                            stop using the Service.<br>
                                            <hr>
                                        <h2 class="small_header"><b>Formation and organization of the team</b></h2>
                                        <p> The Service is formed and organized along the following lines:<br>The
                                            reference "we" refers to the
                                            owner plus all members of all teams.
                                        <ul>
                                            <li><span style="font-weight: 700;">Owner</span><br>Indicates
                                                the individual(s) providing this
                                                Site and/or the Service to Users. The Owner constitutes, manages,
                                                coordinates, and is part of
                                                the
                                                Teams described below.
                                            </li>
                                            <li><span style="font-weight: 700;">Security and Privacy Team (or
                                                    ESPS)</span><br>
                                                Indicates the individual(s) chosen by the Owner who deals with
                                                matters related to security,
                                                control,
                                                and privacy.
                                            </li>
                                            <li><span style="font-weight: 700;">Programming Team (or EPS)</span><br>
                                                Indicates the individual(s) chosen by the owner who programs the
                                                Scar (the "bot").
                                            </li>
                                            <li><span style="font-weight: 700;">Support Team (or ESS)</span><br>
                                                Indicates the individual(s) chosen by the owner who answers tickets
                                                and handles general user
                                                issues.
                                            </li>
                                            <li><span style="font-weight: 700;">Content and Design Team (or
                                                    ECD)</span><br>
                                                Indicates the individual(s) chosen by the owner who handles all
                                                Service Material, as described
                                                in
                                                the "Intellectual Property Rights" section.
                                            </li>
                                        </ul>
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Affiliation</b></h2>
                                        <p>Scar (the "bot") is not affiliated with, supported, or made by Discord
                                            Inc.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Liability</b></h2>
                                        <p>The owner of Scar (the "bot") cannot be held responsible for individuals
                                            violating these
                                            Terms.<br><br>The owner believes that end-users will be truthful about
                                            their information and will
                                            not maliciously misuse this bot or Discord Inc. services.<br>Any user
                                            may choose to remove the bot
                                            from any server for which it has permission.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Right to use the service</b></h2>
                                        <p>Scar (the "Bot") offers various services and features for your Discord
                                            server, all commands and
                                            systems are described in the <a href="https://scarbot.com/commands">commands
                                                section of the official website.</a><br><br>
                                            Subject to your compliance with these Terms, the owner grants you a
                                            limited, revocable,
                                            non-exclusive, non-transferable, and non-sublicensable license to use
                                            and access the Service. You
                                            agree not to perform or attempt the following actions:<br>
                                            &emsp;<span style="font-weight: 700;">(i)</span> use the Service for any
                                            purpose other than as expressly
                                            permitted by these Terms;<br>
                                            &emsp;<span style="font-weight: 700;">(ii)</span> copy, adapt, modify,
                                            make derivative works of,
                                            distribute, license, sell, transfer, publicly display, publicly perform,
                                            transmit by any means,
                                            attempt to discover part of the source code, reverse engineer,
                                            decompile, disassemble, or in any way
                                            exploit the Service, or any part thereof, except as expressly permitted
                                            by these Terms;<br>
                                            &emsp;<span style="font-weight: 700;">(iii)</span> use data mining,
                                            robots, spiders, or other similar data
                                            gathering and extraction tools on the Service.<br><br>
                                            No license or right is granted to you by implication, or otherwise
                                            conditional upon intellectual
                                            property rights belonging to Scar, or its licensees, except for the
                                            permissions and rights expressly
                                            granted in these Terms.
                                            <br><br>
                                            The owner reserves the right to modify or discontinue the Service (or
                                            part thereof) temporarily or
                                            permanently, with or without notice.
                                            <br><br>
                                            Scar's Security and Privacy Team (or, "ESPS") has the right to prevent
                                            certain users from accessing
                                            the Services without notice and for any reason, including but not
                                            limited to violations of these
                                            Terms.
                                            If you breach these Terms, Scar Security & Privacy Team (or, "ESPS")
                                            reserves the right to issue a
                                            warning about the breach or immediately terminate or suspend the account
                                            that incurred such breach.
                                            You accept that the Scar Security and Privacy Team (or, "ESPS") need not
                                            give notice before
                                            terminating or suspending your Accounts, but it may do so if it wishes.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Your identity</b></h2>
                                        <p>You are responsible for all of your data or other activity on your
                                            account ("Account") on the
                                            Service. You agree to immediately notify Scar's Security and Privacy
                                            Team (or, "ESPS") if you
                                            believe that the confidentiality of your data has been compromised, or
                                            you suspect that there is
                                            unauthorized use of your Account.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Communications</b></h2>
                                        <p>You agree to receive communications about announcements and updates
                                            related to the Service through the Support Server ("Server"), such
                                            messages/notifications will only be sent after we obtain your consent
                                            and facilitate your choice to revoke it. We do not want to send unwanted
                                            messages.<br><br>By using the Service or providing us with information,
                                            you agree that we may communicate with you electronically regarding
                                            general, security, privacy, and administrative matters involving your
                                            use of the Service.<br><br>We may use various means to block spammers
                                            and abusers from using the Service. If you believe that spam has come
                                            from the Service, please submit a report via <a href="/contact">the contact
                                                page</a>. Remember, the faster you send the report, the faster we
                                            will resolve it and thus improve the environment in our
                                            community.<br>Note: In extreme cases, you can report the abuse situation
                                            directly to <a href="https://dis.gd/request">Discord Inc.</a>.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Your content</b></h2>
                                        <p>All data, text, graphic images, their selection and arrangement, and
                                            other material submitted to the Service by you represent "Your Content".
                                            You represent and warrant that Your Content is original, and you own the
                                            exclusive rights to such content, including the right to grant all
                                            rights and licenses outlined in these Terms without incurring
                                            obligations or liability to the owner, for the exercise of such rights
                                            and licenses.<br>Everything in Your Content is your sole responsibility,
                                            and the owner will not be liable for any material you upload, post, or
                                            otherwise make available. By uploading, distributing, transmitting, or
                                            using Your Content on the Service, you grant us a perpetual,
                                            non-exclusive, transferable, sub-licensable, royalty-free, worldwide
                                            license to use, host, reproduce, modify, adapt, publish, translate,
                                            create derivative works from, distribute, perform and display Your
                                            Content in connection with the operation and provision of the Service.
                                            Neither the owner nor the Content and Design Team (or "ECD") guarantees
                                            the accuracy, quality, or integrity of content posted by users. <br>By
                                            using the Service, you acknowledge and agree that you may come into
                                            contact with a material that you feel is offensive or objectionable. You
                                            agree that the owner shall not be liable for User content under any
                                            circumstances, including, but not limited to, errors in content or loss
                                            or damage incurred through the use of User content. The owner as well as
                                            Scar's Security and Privacy Team (or, "ESPS") reserves the right to
                                            remove and permanently delete Your Content from the Service with or
                                            without notice and for any reason (or no reason whatsoever).<br><br>Any
                                            user may notify us of user content that they believe violates these
                                            Terms or other inappropriate user behavior by the <a href="/contact">contact
                                                page</a>. Remember, the sooner you submit a
                                            report, the sooner we will resolve it and thus improve the environment
                                            in our community.<br><br>Note: In extreme cases, you can report the
                                            abuse situation directly to Discord Inc. through a support ticket (<a
                                                href="https://dis.gd/request">dis.gd/request</a>).
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Rules of Conduct and Use</b></h2>
                                        <p>We have no obligation to monitor the server, server name, server images,
                                            channels, members, and content of servers that Scar (the "Bot") is
                                            present on.<br><br>Scar's Security and Privacy Team (or, "ESPS") may
                                            terminate or suspend your access to the Service and/or the Support
                                            Server or other servers in common with the Service at any time, without
                                            notice, and for any reason. You acknowledge that no user content
                                            (including, for example, chats, posts, or materials posted by others) on
                                            the Communication Channels on your server is controlled or monitored by
                                            us.<br><br>We will not be held responsible under any circumstances for
                                            activities on the Communication Channels on your server, nor will we be
                                            liable for the information you choose to post on the Communication
                                            Channels on your server or for the actions of members.<br><br>As a
                                            condition of your use of the Service, and without limiting your
                                            other obligations under these Terms, you agree to comply with the
                                            restrictions and rules of use set out in these Terms, as well as
                                            other restrictions and rules set out in the Service. For example,
                                            you agree not to use the Service to:<br>&emsp;<span
                                                style="font-weight: 700 ;">i)</span> post, send, transmit or
                                            disseminate objectionable information;<br>
                                            &emsp;<span style="font-weight: 700 ;">ii)</span> defame, libel,
                                            ridicule, mock, stalk, threaten, harass, intimidate or abuse
                                            anyone;<br>
                                            &emsp;<span style="font-weight: 700 ;">iii)</span> engage in conduct
                                            that is fraudulent, illegal, or otherwise harmful to the reputation
                                            of Scar ("Bot"), or any other user;<br>
                                            &emsp;<span style="font-weight: 700 ;">iv)</span> send or transmit
                                            (or attempt to send or transmit) files that contain viruses, Trojan
                                            horses, worms, time bombs, cancel bots, corrupted files or data, or
                                            other software or programs or engage in any other activity that may
                                            damage the operation of the Service or the devices of other
                                            users<br>
                                            &emsp;<span style="font-weight: 700 ;">v)</span> violate the self,
                                            contractual, intellectual property, or other rights of others,
                                            including by using, sending, transmitting, distributing, or making
                                            available information on the Service to violate copyrights,
                                            trademarks, patents, trade secrets, or other rights of others
                                            (including privacy or publicity rights)<br>
                                            &emsp;<span style="font-weight: 700 ;">vi)</span> attempt to obtain
                                            passwords or other private information from other members<br>
                                            &emsp;<span style="font-weight: 700 ;">vii)</span> use support
                                            channels or complaint/support buttons inappropriately to make false
                                            complaints or to disrupt the normal flow of support;<br>
                                            &emsp;<span style="font-weight: 700 ;">viii)</span> develop,
                                            distribute or instruct other members publicly about "automatic",
                                            "macro" or other "hack/cheat utility" software programs and
                                            applications that violate applicable license agreements.<br><br>These
                                            usage rules are for illustrative purposes only, and we reserve the right
                                            to determine conduct that we deem to be a violation of the Terms, or
                                            improper use of the Service, and to take action that may include
                                            termination of your Account and prohibition from participating in the
                                            Service.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Feedback</b></h2>
                                        <p>We like to hear from our users and to receive their feedback regarding the
                                            Service. If you choose to provide feedback, suggestions for improvement to
                                            the Service, or other feedback (oral or written) ("Feedback"), you represent
                                            and warrant that<br>&emsp;<span style="font-weight: 700 ;">a)</span> you
                                            have the right to disclose the Feedback;
                                            <br>&emsp;<span style="font-weight: 700 ;">b)</span> the Feedback does not
                                            violate the rights of other individuals or legal entities;
                                            <br>&emsp;<span style="font-weight: 700 ;">c)</span> your Feedback does not
                                            contain confidential or proprietary information of any third party.
                                            <br><br>By sending us Feedback, you further
                                            <br>&emsp;<span style="font-weight: 700 ;">(i)</span> you agree that we have
                                            no obligation of confidentiality, express or implied, concerning the
                                            Feedback;
                                            <br>&emsp;<span style="font-weight: 700 ;">(ii)</span> you acknowledge that
                                            we may already have something similar to the Feedback in the planning or
                                            development stage;
                                            <br>&emsp;<span style="font-weight: 700 ;">(iii)</span> grants us an
                                            irrevocable, non-exclusive, perpetual, worldwide, royalty-free license to
                                            use, modify, make derivative works of, publish, distribute and sublicense
                                            the Feedback;
                                            <br>&emsp;<span style="font-weight: 700 ;">(iv)</span> you agree that the
                                            Feedback section will survive the termination of your account or the
                                            Services.<br>All rights in this section are granted without further
                                            consideration by you.<br><br>Feedback may be accomplished through the
                                            following means:
                                            <br>&emsp;<span style="font-weight: 700 ;">(i)</span> through the "feedback"
                                            channel on the bot <a href="/server">support server</a>
                                            <br>&emsp;<span style="font-weight: 700 ;">(ii)</span> through the "top.gg"
                                            platform
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Third-party content</b></h2>
                                        <p>We use third-party services to help us provide the Service, but such use does
                                            not indicate that we are responsible for their actions. In addition, the
                                            Service may have links to third-party websites to facilitate the provision
                                            of the Services to users. If you use such links, you will be leaving the
                                            Service. Please note that your use of such third-party services will be
                                            governed by the terms and privacy policy applicable to such third parties.
                                            Some of these third-party sites may use Materials from the Service under a
                                            license from us. We are not responsible for those third-party sites, the
                                            organizations sponsoring those sites, or their products and services,
                                            regardless of whether we are affiliated with those third-party sites. You
                                            agree that we are not responsible or liable for any loss or damage of any
                                            kind incurred as a result of transactions you enter into with third parties
                                            or on a third-party site, or as a result of the presence of third-party
                                            advertisements on the Service.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>User Conflict</b></h2>
                                        <p>You are solely responsible for your interaction with other users of the
                                            Service and with other parties with whom you interact on the Service. The
                                            Scar Security and Privacy Team (or, "ESPS") hereby disclaims any liability
                                            to users or third parties in connection with your use of the Service. The
                                            Scar Security and Privacy Team (or, "ESPS") reserves the right, but not the
                                            obligation, to mediate disputes between you and other users of the Service,
                                            which may involve, but are not limited to, punitive actions.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Copyright Claims</b></h2>
                                        <p>Scar (the "bot") respects the intellectual property of others and requires
                                            the same of its users. If you believe that your work has been copied in any
                                            way that is considered copyright infringement, or that your intellectual
                                            property rights have been violated in any way, please advise us of your
                                            copyright claim as per the procedure stipulated below. The owner will
                                            process and investigate notices of alleged infringement and take appropriate
                                            action under the Digital Millennium Copyright Act ("DMCA") and other
                                            applicable intellectual property laws in connection with the alleged or
                                            actual infringement. You may contact us by the <a href="/contact">contact
                                                page</a>.<br><br>For your request to be effective, the written
                                            notification must contain the following information:
                                            <br>&emsp;<span style="font-weight: 700 ;">1.</span> an electronic or
                                            physical signature of the person authorized to act on behalf of the owner of
                                            the copyright, or holder of other intellectual property;
                                            <br>&emsp;<span style="font-weight: 700 ;">2.</span> a description of the
                                            copyrighted work or other intellectual property that is the subject of the
                                            notice of infringement
                                            <br>&emsp;<span style="font-weight: 700 ;">3.</span> a description of where
                                            the allegedly infringing material is located on the Service, with sufficient
                                            detail to enable it to be found there
                                            <br>&emsp;<span style="font-weight: 700 ;">4.</span> your physical address,
                                            telephone number, and email address;
                                            <br>&emsp;<span style="font-weight: 700 ;">5.</span> a statement that you
                                            have a good faith belief that the disputed use is not authorized by the
                                            copyright owner or intellectual property owner, its agent, or the law;
                                            <br>&emsp;<span style="font-weight: 700 ;">6.</span> a statement by you,
                                            made under penalty of perjury, that the above information in your Notice is
                                            accurate and that you are the copyright owner or have the power to act on
                                            behalf of the copyright or intellectual property owner.<br><br>If you submit
                                            an Infringement Notice that knowingly contains false statements regarding
                                            copyright infringement of Content, information, or communications on the
                                            Services, you may be liable for damages and attorneys' fees.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Cancellation</b></h2>
                                        <p>A user may terminate his Account and/or delete his data at any time and for
                                            any reason by opening a ticket on the <a href="/contact">contact
                                                page</a>, stating his User ID and the type of data he wishes to be
                                            deleted. After that, a specialized agent will contact you and will delete
                                            your data without any problems or contradictions.<br><br>Scar's Security and
                                            Privacy Team (or, "ESPS") may cancel your Account and prevent your access to
                                            the Service (or, at its sole discretion, to relevant parts of the Service)
                                            at any time and for any reason, also it shall not be obliged to give prior
                                            notice before such cancellation. You may, as a result of termination, lose
                                            your Account and all information and data associated with it, including but
                                            not limited to Virtual Currency and Virtual Goods, as applicable, and we
                                            shall not be obliged to compensate you for any losses.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Disclaimer of Liability</b></h2>
                                        <p>THE SERVICES AND THE MATERIALS IN THE SERVICE ARE PROVIDED ON AN "AS IS" AND
                                            "AS AVAILABLE" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER IMPLIED OR
                                            EXPRESSED, INCLUDING, FOR EXAMPLE, IMPLIED WARRANTIES OF MERCHANTABILITY,
                                            FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT. YOUR USE OF
                                            THE SERVICES IS AT YOUR SOLE RISK. FURTHERMORE, WHILE SCAR'S PROGRAMMING
                                            TEAM (OR "EPS") ATTEMPTS TO PROVIDE A GOOD USER EXPERIENCE, WE CAN NOT AND
                                            DO NOT REPRESENT OR WARRANT THAT THE SERVICES WILL ALWAYS BE SECURE OR
                                            ERROR-FREE, OR THAT THEY WILL ALWAYS FUNCTION WITHOUT DELAYS, OR
                                            INTERRUPTIONS,
                                            OR IMPERFECTIONS. THE ABOVE DISCLAIMERS WILL APPLY TO THE EXTENT PERMITTED
                                            BY APPLICABLE LAW.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Limitation of Liability</b></h2>
                                        <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT SHALL THE OWNER BE LIABLE
                                            TO YOU OR ANY THIRD PARTY FOR ANY DAMAGES FOR CONSEQUENTIAL, INCIDENTAL,
                                            PUNITIVE, OR OTHER INDIRECT DAMAGES, INCLUDING LOST PROFITS OR LOST DATA,
                                            ARISING OUT OF YOUR USE OF THE SERVICE OR OTHER MATERIALS ACCESSED, VIEWED,
                                            OR DOWNLOADED FROM THE SERVICE, WHETHER IN CONTRACT, TORT, OR OTHERWISE, AND
                                            REGARDLESS OF WHETHER OWNER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
                                            DAMAGES. WE WILL NOT BE LIABLE TO YOU FOR DAMAGES OF (A) THE AMOUNT YOU PAID
                                            US UNDER THESE TERMS IN THE THREE (3) MONTHS IMMEDIATELY PRECEDING THE DATE
                                            OF THE CLAIM OR (B) $100, WHICHEVER IS GREATER. THE LIMITATIONS AND
                                            DISCLAIMERS IN THESE TERMS ARE NOT INTENDED TO LIMIT LIABILITY OR ALTER
                                            RIGHTS THAT CAN NOT BE EXCLUDED UNDER APPLICABLE LAW. SOME JURISDICTIONS DO
                                            NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR LIMITATION OF LIABILITY FOR
                                            CONSEQUENTIAL, INCIDENTAL, OR SPECIAL DAMAGES, SO SOME OF THE ABOVE
                                            DISCLAIMERS AND LIMITATIONS MAY NOT APPLY TO YOU. IN SUCH CASES, SCAR, THE
                                            OWNER, AND THE SURROUNDING TEAMS' LIABILITY SHALL BE LIMITED TO THE FULLEST
                                            EXTENT PERMITTED BY LAW.<br><br>You specifically acknowledge that Scar, the
                                            owner, nor the surrounding teams will not be liable for the content of
                                            users, including but not limited to Your Content, or the defamatory,
                                            offensive, or illegal conduct of third parties, and that the risk of such
                                            situations is your responsibility.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Indemnification</b></h2>
                                        <p>You agree to indemnify us against loss, liability, claims, damages, and
                                            expenses, including attorneys' fees, arising out of or related to:
                                            <br>&emsp;<span style="font-weight: 700 ;">(i)</span> your use of and access
                                            to the Service;
                                            <br>&emsp;<span style="font-weight: 700 ;">(ii)</span> your violation of any
                                            provision of these Terms;
                                            <br>&emsp;<span style="font-weight: 700 ;">(iii)</span> your violation of
                                            any third party rights, including, for example, copyright, proprietary or
                                            privacy rights, or contract of any third party
                                            <br>&emsp;<span style="font-weight: 700 ;">(iv)</span> the content of Your
                                            Content or information in Your Account, or other information posted, or
                                            disclosed by You on the Service.<br><br>As used in this section, "you"
                                            includes any person using/accessing the Service using your account (your
                                            ID).
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Virtual Currencies, Virtual Goods, and Terms of
                                                Sale</b>
                                        </h2>
                                        <p>We will not charge you for use of the basic features of the Service, but we
                                            may charge you for certain products and services.
                                        </p>
                                        <hr>
                                        <h2 class="small_header"><b>Final Acknowledgement</b></h2>
                                        <p>Use of our Services confirms that you (the Licensee) have read these Terms of
                                            Use ("Terms"), understand them, and agree to be bound by its contents freely
                                            and in full.
                                        </p>
                                    </div>
                                    <%- include("includes/footer") %>